*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #fdf2f8d8, #ecfdf5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    width: 90%;
    max-width: 480px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.05);
}

/* header */

section#primeira{
    background-color: #efffe5;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section#primeira>h1{
   color:#065f46;
   text-align: center;
   font-size: 1.6em;
}

section#primeira>input{
   width: 100%;
   padding: 8px;
   border-radius: 8px;
   border: 1px solid #d1d6db;
   outline:none;
}

section#primeira>input:focus{
   border-color: #be185d;
   box-shadow:  0 0 0 2px #fce7f3;
}



section#primeira>button{
   width: 100%;
   padding: 8px;
   border-radius: 8px;
   border: none;
   background-color:#065f46;
   color: white;
   font-weight: 500;
   cursor: pointer;
   transition: 0.2s;
}

section#primeira>button:hover{
   background-color: #be185d;
}


#buttonLimpar{
   background-color: #94a3b8;
}

#buttonLimpar:hover{
   background-color: #64748b;
}



section#resultado{
    background-color: #f1f5f9;
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
}

section#resultado > ul{
   list-style: none;
} 

section#resultado >ul > li{
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e7eb;
    transition: 0.7s;
    border-left: 4px solid transparent;
}

section#resultado >ul > li:hover{
    background-color: #fff1f2;
    border-left: 4px solid #be185d;
    transform: scale(1.01);
}

section#resultado >ul > li>div{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

section#resultado >ul > li>div>h2{
   color:#334155;
   font-size: 0.9em;
}

input[type=checkbox]{
  accent-color: #06290f;
}

.tarefaConcluida{
    text-decoration:line-through ;
    text-decoration-color: #eaffe6;
}

button.material-symbols-outlined{
    color: #be185d;
    border: none;
    background-color: transparent;
}


